extends ../layout

append stylesheets
    link(rel='stylesheet', href='stylesheets/game.css')

block content
    #game-area
        script#intro-screen-template(type='text/template')
            include template/intro-screen-template

        script#new-game-template(type='text/template')
            include template/new-game-template

        script#join-game-template(type='text/template')
            include template/join-game-template


append javascripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/client.js")
