nav#nav
    ul
        li.current
            a(href='/') Accueil
        li.play
            a(href='/play') Jouer
        li
            a(href='/') Informations
        li
            a(href='/') Contact