#host-game
    #wordArea
        #countDown 10
        #hostWord 5
    #playerScores
        #player1Score.playerScore
            span.score 0
            span.playerName Player 1
        #player2Score.playerScore
            span.playerName Player 2
            span.score 0
