#intro-screen
    .titleWrapper
        .buttons
            button#btnCreateGame.btn.left Créer une partie
            button#btnJoinGame.btn.right Rejoindre une partie
            div(style='clear:both')
            //#mid
            //    input#leaderboard.btn(type='button', value='LEADER BOARD')
