#new-game
    .row
        .7u(class='12u(mobile)', style='border-right: 1px solid black;')
            .infoBig
                strong La partie est créée.
            .info Envoyez le code ci-dessous à vos amis.
            //#gameURL.infoBig Error!
            #spanNewGameCode.gameId Error!
        .5u(class='12u(mobile)')
            .infoBig
                strong Joueurs
            #playersWaiting
            #playersStart
