#new-game
    .row
        .6u(class='12u(mobile)')
            .infoBig
                strong La partie est créée.
            .info Envoyez le code ci-dessous à vos amis.
            //#gameURL.infoBig Error!
            #spanNewGameCode.gameId Error!
        .6u(class='12u(mobile)')
            .infoBig
                strong Joueurs
            #playersWaiting
